<div id="fb-root"></div>
<script>(function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s);
    js.id = id;
    js.src = 'https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.10&appId=360628533959049';
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
<div class="obtainit-wrapper">
  <header>
    <nav class="obtainit-main-nav-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-xs-9">
            <div class="obtainit-main-nav__logo">
              <img src="{{ TEMPLATE_DIR }}/images/obtainit.png">
            </div>
          </div>
          <div class="col-md-9 col-xs-3">
            <div id="obtainit-mobile-menu-trigger" class="obtainit-main-nav__mobile-icon">
              <span></span>
              <span></span>
              <span></span>
            </div>
            <div class="obtainit-float-right">
              <div class="obtainit-menu-wrapper">
                <ul class="obtainit-main-nav obtainit-main-nav--mobile">
                  <li><a href="" class="obtainit-main-nav__item"><span
                              class="obtainit-main-nav__label">{{ 'About' }}</span></a></li>
                  <li><a href="" class="obtainit-main-nav__item">{{ 'Services' }}</a></li>
                  <li><a href="" class="obtainit-main-nav__item">{{ 'Work' }}</a></li>
                  <li><a href="" class="obtainit-main-nav__item">{{ 'Blog' }}</a></li>
                  <li><a href="" class="obtainit-main-nav__item">{{ 'Contact Us' }}</a></li>
                  <li><a href="" class="obtainit-main-nav__item">{{ 'Log In' }}</a></li>
                  <li><a href="" class="obtainit-main-nav__item obtainit-main-nav__button">{{ 'Sign Up' }}</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </header>
  <!-- LISTING -->
  <section class="obtainit-section obtainit-listing">
    <div class="obtainit-listing__hero" style="background-image: url('{{ TEMPLATE_DIR }}/images/bokeh-one.jpeg');">
      <div class="container">
        <h1 class="text-uppercase">Helping the community</h1>
      </div>
    </div>
    <div class="obtainit-listing__wrapper obtainit-padding-top">
      <div class="container">
        <div class="col-lg-2 col-md-12">
          <nav class="obtainit-listing__filters">
            <h3>Categories</h3>
            <ul>
              <li>
                <input type="checkbox" value="xx-299" id="priceRange-xx-299" name="aPriceRange[]">
                <label for="priceRange-xx-299">Under £299</label>
              </li>
              <li>
                <input type="checkbox" value="299-499" id="priceRange-299-499" name="aPriceRange[]">
                <label for="priceRange-299-499">£299 - £499</label>
              </li>
              <li>
                <input type="checkbox" value="499-699" id="priceRange-499-699" name="aPriceRange[]">
                <label for="priceRange-499-699">£499 - £699</label>
              </li>
              <li>
                <input type="checkbox" value="699-899" id="priceRange-699-899" name="aPriceRange[]">
                <label for="priceRange-699-899">£699 - £899</label>
              </li>
              <li>
                <input type="checkbox" value="899-1000" id="priceRange-899-1000" name="aPriceRange[]">
                <label for="priceRange-899-1000">£899 - £1,000</label>
              </li>
              <li>
                <input type="checkbox" value="1000-xx" id="priceRange-1000-xx" name="aPriceRange[]">
                <label for="priceRange-1000-xx">Over £1,000</label>
              </li>
            </ul>
          </nav>
          <nav class="obtainit-listing__filters">
            <h3>
              Lost + Found
            </h3>
            <ul>
              <li>
                <input type="checkbox" value="xx-299" id="priceRange-xx-299" name="aPriceRange[]">
                <label for="priceRange-xx-299">Lost</label>
              </li>
              <li>
                <input type="checkbox" value="299-499" id="priceRange-299-499" name="aPriceRange[]">
                <label for="priceRange-299-499">Found</label>
              </li>
            </ul>
          </nav>
        </div>
        <div class="col-lg-10 col-md-12">
          <div class="row">
            <div class="obtainit-items-wrapper">
              <div class="obtainit-listing__item">
                <a href="#"><img src="{{ TEMPLATE_DIR }}/images/assets/laptop.jpg"></a>
                <p class="obtainit-listing__item__title obtainit-padding-top"><a href="">Ipsum lorem type</a></p>
                <p class="obtainit-listing__item__comment_count text-uppercase">9 Comments</p>
              </div>
              <div class="obtainit-listing__item">
                <a href="#"><img src="{{ TEMPLATE_DIR }}/images/assets/watch.jpg"></a>
                <p class="obtainit-listing__item__title obtainit-padding-top"><a href="">Iphone seven</a> </p>
                <p class="obtainit-listing__item__comment_count text-uppercase">3 Comments</p>
              </div>
              <div class="obtainit-listing__item">
                <a href="#"><img src="{{ TEMPLATE_DIR }}/images/assets/monitor.jpg"></a>
                <p class="obtainit-listing__item__title obtainit-padding-top"><a href="">Samsung seven</a></p>
                <p class="obtainit-listing__item__comment_count text-uppercase">9 Comments</p>
              </div>
              <div class="obtainit-listing__item">
                <a href="#"><img src="{{ TEMPLATE_DIR }}/images/assets/watch.jpg"></a>
                <p class="obtainit-listing__item__title obtainit-padding-top"><a href="">Ipsum lorem type</a></p>
                <p class="obtainit-listing__item__comment_count text-uppercase">9 Comments</p>
              </div>
              <div class="obtainit-listing__item">
                <a href="#"><img src="{{ TEMPLATE_DIR }}/images/assets/monitor.jpg"></a>
                <p class="obtainit-listing__item__title obtainit-padding-top"><a href="">Samsung seven</a></p>
                <p class="obtainit-listing__item__comment_count text-uppercase">9 Comments</p>
              </div>
              <div class="obtainit-listing__item">
                <a href="#"><img src="{{ TEMPLATE_DIR }}/images/assets/laptop.jpg"></a>
                <p class="obtainit-listing__item__title obtainit-padding-top"><a href="">Iphone seven </a></p>
                <p class="obtainit-listing__item__comment_count text-uppercase">3 Comments</p>
              </div>
              <div class="obtainit-listing__item">
                <img src="http://unsplash.it/265/220?random">
                <p class="obtainit-listing__item__title obtainit-padding-top"><a href="">Ipsum lorem type</a></p>
                <p class="obtainit-listing__item__comment_count text-uppercase">9 Comments</p>
              </div>
              <div class="obtainit-listing__item">
                <img src="http://unsplash.it/265/220?random">
                <p class="obtainit-listing__item__title obtainit-padding-top"><a href="">Samsung seven</a></p>
                <p class="obtainit-listing__item__comment_count text-uppercase">9 Comments</p>
              </div>
              <div class="obtainit-listing__item">
                <img src="http://unsplash.it/265/220?random">
                <p class="obtainit-listing__item__title obtainit-padding-top"><a href="">Iphone seven </a></p>
                <p class="obtainit-listing__item__comment_count text-uppercase">3 Comments</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- LOGIN -->
  <section class="obtainit-section obtainit-login text-align-center">
    <div class="container">
      <div class="row">
        <h2 class="obtainit-login__header"> {{ 'Log in' | t }}</h2>
        <p class="obtainit-login__copy text-uppercase">
          {{ 'Need an account?'|t }}
          <a href="/user/register">{{ 'Sign up'|t }}</a>
        </p>
        <div class="col-xs-12 col-md-6">
          <div class="fb-login-button" data-max-rows="1" data-size="large" data-button-type="continue_with"
               data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="true"></div>
        </div>
        <div class="col-xs-12 col-md-6">
          <div class="fb-login-button" data-max-rows="1" data-size="large" data-button-type="continue_with"
               data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="true"></div>
        </div>
        <h2 class="rule"><span>OR</span></h2>

        <form class="user-login-form" data-drupal-selector="user-login-form" action="/user/login" method="post"
              id="user-login-form" accept-charset="UTF-8">
          <div class="js-form-item form-item js-form-type-textfield form-item-name js-form-item-name">
            <label for="edit-name" class="js-form-required form-required"></label>
            <input autocorrect="none" autocapitalize="none" placeholder="EMAIL" spellcheck="false" autofocus="autofocus"
                   data-drupal-selector="edit-name" aria-describedby="edit-name--description" type="text" id="edit-name"
                   name="name" value="" size="60" maxlength="60" class="form-text required" required="required"
                   aria-required="true">
          </div>
          <div class="js-form-item form-item js-form-type-password form-item-pass js-form-item-pass">
            <label for="edit-pass" class="js-form-required form-required"></label>
            <input data-drupal-selector="edit-pass" placeholder="PASSWORD" aria-describedby="edit-pass--description"
                   type="password" id="edit-pass" name="pass" size="60" maxlength="128" class="form-text required"
                   required="required" aria-required="true">
          </div>
          <input data-drupal-selector="form-ibzislil4rayiwx9o8rl4f40-lgfczv5vjp1vgyw4ow" type="hidden"
                 name="form_build_id" value="form-iBZIsLIL4RAyiwx9O8rl4f40-LgFcZv5vjp1VgyW4Ow">
          <input data-drupal-selector="edit-user-login-form" type="hidden" name="form_id" value="user_login_form">
          <div data-drupal-selector="edit-actions" class="form-actions js-form-wrapper form-wrapper" id="edit-actions">
            <input data-drupal-selector="edit-submit" type="submit" id="edit-submit" name="op" value="Log in"
                   class="button js-form-submit form-submit">
          </div>
        </form>
      </div>
    </div>
  </section>
</div>
<!-- FOOTER -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <p class="footer-title">About Us</p>
        <ul class="footer-menu">
          <li><a href="#" class="footer-menu__link">About Obtain it</a></li>
          <li><a href="#" class="footer-menu__link">Obtain it for business</a></li>
          <li><a href="#" class="footer-menu__link">Our Partners</a></li>
        </ul>
      </div>
      <div class="col-md-8">
        <p class="footer-title">Latest items</p>
        <div class="footer-content-wrapper row obtainit-padding-bottom">
          <div class="col-xs-3">
            <img src="http://unsplash.it/120/80?random">
          </div>
          <div class="footer-content col-xs-8">
            <h5><a href="">Lorem ipsum dolor sit amet, consectetur adipiscing</a></h5>
            <p class="footer-content-date">Jan 9, 2019</p>
          </div>
        </div>
        <div class="footer-content-wrapper row obtainit-padding-bottom">
          <div class="col-xs-3">
            <img src="http://unsplash.it/120/80?random">
          </div>
          <div class="footer-content col-xs-8">
            <h5><a href="">Lorem sit amet, consectetur adipiscing</a></h5>
            <p class="footer-content-date">Jan 9, 2019</p>
          </div>
        </div>
        <div class="footer-content-wrapper row obtainit-padding-bottom">
          <div class="col-xs-3">
            <img src="http://unsplash.it/120/80?random">
          </div>
          <div class="footer-content col-xs-8">
            <h5><a href="">Loamet, consectetur adipiscing</a></h5>
            <p class="footer-content-date">Jan 9, 2019</p>
          </div>
        </div>

      </div>
    </div>
    <div class="obtainit-copyright">
      2017 &#169; Obtain It.
    </div>
  </div>
</footer>