<div class="obtainit-wrapper">
  <header>
    <nav class="obtainit-main-nav-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <div class="obtainit-main-nav__logo">
              <img src="{{ TEMPLATE_DIR }}/images/obtainit.png">
            </div>
          </div>
          <div class="col-md-9">
            <div class="obtainit-float-right">
              <ul class="obtainit-main-nav">
                <li><a href="" class="obtainit-main-nav__item">
                    <span
                            class="obtainit-main-nav__label">{{ 'About' }}</span></a></li>
                <li><a href="" class="obtainit-main-nav__item">{{ 'Services' }}</a></li>
                <li><a href="" class="obtainit-main-nav__item">{{ 'Work' }}</a></li>
                <li><a href="" class="obtainit-main-nav__item">{{ 'Blog' }}</a></li>
                <li><a href="" class="obtainit-main-nav__item">{{ 'Contact Us' }}</a></li>
                <li><a href="" class="obtainit-main-nav__item">{{ 'Log In' }}</a></li>
                <li><a href="" class="obtainit-main-nav__item obtainit-main-nav__button">{{ 'Sign Up' }}</a></li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </nav>
  </header>
  <div class="obtainit-section">
    <div class="container">
      {{ 'Hello' }}
    </div>
  </div>
</div>