<div class="obtainit-wrapper">
  <header>
    <nav class="obtainit-main-nav-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-xs-9">
            <div class="obtainit-main-nav__logo">
              <img src="{{ TEMPLATE_DIR }}/images/obtainit.png">
            </div>
          </div>
          <div class="col-md-9 col-xs-3">
            <div id="obtainit-mobile-menu-trigger" class="obtainit-main-nav__mobile-icon">
              <span></span>
              <span></span>
              <span></span>
            </div>
            <div class="obtainit-float-right">
            <div class="obtainit-menu-wrapper">
              <ul class="obtainit-main-nav obtainit-main-nav--mobile">
                <li><a href="" class="obtainit-main-nav__item"><span class="obtainit-main-nav__label">{{ 'About' }}</span></a></li>
                <li><a href="" class="obtainit-main-nav__item">{{ 'Services' }}</a></li>
                <li><a href="" class="obtainit-main-nav__item">{{ 'Work' }}</a></li>
                <li><a href="" class="obtainit-main-nav__item">{{ 'Blog' }}</a></li>
                <li><a href="" class="obtainit-main-nav__item">{{ 'Contact Us' }}</a></li>
                <li><a href="" class="obtainit-main-nav__item">{{ 'Log In' }}</a></li>
                <li><a href="" class="obtainit-main-nav__item obtainit-main-nav__button">{{ 'Sign Up' }}</a></li>
              </ul>
            </div>
            </div>
          </div>
        </div>

      </div>
    </nav>
  </header>
  <div class="obtainit-section">
    <div class="container">

    </div>
  </div>
</div>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <p class="footer-title">About Us</p>
        <ul class="footer-menu">
          <li><a href="#" class="footer-menu__link">About Obtain it</a></li>
          <li><a href="#" class="footer-menu__link">Obtain it for business</a></li>
          <li><a href="#" class="footer-menu__link">Our Partners</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <p class="footer-title">Latest items</p>
        <div class="footer-content-wrapper row obtainit-padding-bottom">
          <div class="col-xs-4">
            <img src="http://unsplash.it/120/80?random">
          </div>
          <div class="footer-content col-xs-8">
            <h5><a href="">Lorem ipsum dolor sit amet, consectetur adipiscing</a></h5>
            <p class="footer-content-date">Jan 9, 2019</p>
          </div>
        </div>
        <div class="footer-content-wrapper row obtainit-padding-bottom">
          <div class="col-xs-4">
            <img src="http://unsplash.it/120/80?random">
          </div>
          <div class="footer-content col-xs-8">
            <h5><a href="">Lorem sit amet, consectetur adipiscing</a></h5>
            <p class="footer-content-date">Jan 9, 2019</p>
          </div>
        </div>
        <div class="footer-content-wrapper row obtainit-padding-bottom">
          <div class="col-xs-4">
            <img src="http://unsplash.it/120/80?random">
          </div>
          <div class="footer-content col-xs-8">
            <h5><a href="">Loamet, consectetur adipiscing</a></h5>
            <p class="footer-content-date">Jan 9, 2019</p>
          </div>
        </div>

      </div>
    </div>
    <div class="obtainit-copyright">
      2017 &#169; Obtain It.
    </div>
  </div>
</footer>